{% extends "blog/base.html" %}
{% block content %}
    <h1>About Page</h1>


            <div class="mainbar">
              <div class="article">
                <h2><span>About to</span> Company Name</h2>
                <div class="clr"></div>
                <p><strong>We will consistently do everything possible to help ladies all around the world open the force and organization inside themselves.</strong></p>
                <p>In nations influenced by struggle and war, Women for Women International backings the most minimized ladies to bring in and set aside money, further develop wellbeing and prosperity, impact choices in their home and local area, and associate with networks for help. By using abilities, information, and assets, she can make manageable change for herself, her family, and the local area.</p>
              </div>
              <div class="article">
                <h2><span>Our</span> Mission</h2>
                <div class="clr"></div>
                <p><strong>To create a world in which all women determine the course of their lives & reach their full potential.</strong></p>
                <p><strong>Strengthening:</strong> We accept each lady is extraordinary and incredible by her own doing. Our kin is our most noteworthy strength and we will uphold them to accomplish our points by furnishing them with the data, rewards, and force they need to step up to the plate and settle on choices to tackle issues and work on our conveyance and execution. <br>As a learning association - we urge our kin to face challenges and commit errors, we learn and develop and improve, more grounded, and more astute. 
      
                  <p><br><strong>Regard:</strong> We accept each lady has the privilege to be treated with decency and poise. we trust each other verifiably, positive about the information that we are altogether running after similar objectives. Similarly, we consider each other dependable and responsible at all levels of the association for the results of our activities. We will be intense, clear, and kind in our correspondence with our associates across the association and not permit impolite conduct to go unchallenged.</p> 
                  
                 <p><BR><strong> Honesty:</strong> We won't ever convey in any capacity that endeavors or belittles the ladies we exist to serve, we will convey a program of preparing that augments the effect for the ladies we serve to present to them the greatest advantages and work with the best long haul positive change in their lives. we do what we say we will do when we say we will do it. We go about as great stewards of the association's assets. 
                  
                 <p> <br><strong>Flexibility:</strong> We see each day the strength of ladies overcomers of war and their capacity to never lose trust notwithstanding having confronted the best barbarities and repulsions of contention. They move us to remain solid, cheerful, centered and focused on our worldwide reason. We support each other to do likewise..</p>
                
              </div>
            </div>


{% endblock content %}
