{% load static %}

  
    <div class="clr"></div>
    </div>
    </div>
    <div class="footer">
    <div class="footer_resize">

<div class="container">
    <div class="row">
        <div class="col-4">
            <h2><span>Image</span> Gallery</h2>
            <a href="#"><img src="{% static 'images/gal7.jpg'%}" width="75" height="75" alt="" class="gal" /></a>
             <a href="#"><img src="{% static 'images/gal8.jpg'%}" width="75" height="75" alt="" class="gal" /></a>
              <a href="#"><img src="{% static 'images/gal9.jpg'%}" width="75" height="75" alt="" class="gal" /></a> 
              <a href="#"><img src="{% static 'images/gal10.jpg'%}" width="75" height="75" alt="" class="gal" /></a>
               <a href="#"><img src="{% static 'images/gal5.jpg'%}" width="75" height="75" alt="" class="gal" /></a> 
               <a href="#"><img src="{% static 'images/gal11.jpg'%}" width="75" height="75" alt="" class="gal" /></a> </div>

        <div class="col-6">

                <h2><span>Services</span> Overview</h2>
                <p>Our Passion is to build Your insight and portray <br>the narratives of fruitful ladies on the World.</p>
                   <ul class="fbg_ul">
                  <li><a href="#">Success Story.</a></li>
                  <li><a href="#">Web Design.</a></li>
                  <li><a href="#">Build knowledge.</a></li>
                </ul>
        </div>
        <div class="col-2">

 
                <h2><span>Contact</span> Us</h2>
                <p>Have Any Questions, we'd Love to Hear from You.</p>
                <p class="contact_info"> <span>Address:</span>IBS Building no.4, Jalandhar<br />
                  <span>Telephone:</span> +91 95017<br />
                  <span>FAX:</span> +123<br />
                  <span>Others:</span> +91 95017<br />
                  <span>E-mail:</span> <a href="#">kanchanbains37@gmail.com</a> </p>
        </div>



   </div>
</div>

    <p class="lf">Copyright &copy; 2021 by <a href="#">GirlBestWeb.com</a> All Rights Reserved</p>
    <p class="rf">Design by <a target="_blank" href="">KANCHAN</a></p>
    <div style="clear:both;"></div>
    </div>
    </div> 