<div class="content-section">
  
<div class="sidebar">
   
    <div class="gadget">
      <h2 class="star"><span>Sidebar</span> Menu</h2>
      <div class="clr"></div>
      <ul class="sb_menu">
        <li><a href="{%url 'blog-home'%}"><span>Home Page</span></a></li>
        <li><a href="#">Priyanka Chopra Jonas </a></li>
        <li><a href="#">Lt. General Madhuri Kanitkar </a></li>
        <li class="active"><a href="{%url 'blog-about'%}"><span>Support</span></a></li>
        <li><a href="#">Seema Kushwaha </a></li>
        <li><a href="#">Ritu Karidhal </a></li>
        <li><a href="{%url 'blog-contact'%}"><span>Contact Us</span></a></li>
      </ul>
    </div>
    <div class="gadget">
      <h2 class="star"><span>Sponsors</span></h2>
      <div class="clr"></div>
      <ul class="ex_menu">
        <li><a href="#"> ER kanchan</a><br />
         Designer </li>
        <li><a href="#">Rahul pal</a><br />
          Greatful idier</li>
        <li><a href="#">C3 Organization</a><br />
          Learn the requirements, costs, and pros and cons of setting up a 501</li>
        <li><a href="#">ER Jones</a><br />
         istruction manager provide time to time instruction to main function</li>
        <li><a href="#">kanchan</a><br />
          Designeer, creater, and implement programs </li>
        <li><a href="#">C mattis</a><br />
          Time Manager</li>
      </ul>
    </div>
    </div>
    <div class="clr"></div>
    </div>
    </div>
    <div class="fbg">
</div>
